@import './globals.scss';

.spec-card {
  i {
    font-size: 30px;
  }
  div {
    padding: 0;
  }
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 30px;
  color: white;
  transition-timing-function: ease-out;
  transition: padding 0.3s, opacity 0.3s;
  background-color: $main-dark-grey;
  text-align: center;
  &:hover {
    padding: 30px;
    opacity: 1;
  }
}
.primary-footer {
  border-top: #cacaca 1.5px solid;
  padding: 20px;
  div div {
    padding: 20px;
  }
}
footer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.created-by {
  opacity: 0.6;
  transition: opacity 0.3s ease-out;
}
.created-by:hover {
  opacity: 1;
}
.social-media {
  font-size: 20px;
  a .fab {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background: $main-dark-grey;
    border-radius: 50%;
    color: $main-white;
    transition: background 0.3s ease-out;
    height: 50px;
    width: 50px;
  }
  a .fa-instagram:hover {
    background: #bc2a8d;
  }
  .fa-facebook-f:hover {
    background: #3b5998;
  }
  .fa-whatsapp:hover {
    background: #25d366;
  }
}
