$main-red: #da291e;
$main-black: #272727;
$main-white: #fdfeff;
$main-grey: #cecece;
$main-dark-grey: #8d8d8d;

@media only screen and (max-width: 770px) {
  .header-line::before {
    display: none !important;
  }
}

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
}
body {
  background-color: $main-white;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background: #e6e6e6;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 5px;
}

.hvr-bounce-to-top::before {
  border-radius: 10px;
  background: $main-red;
}
.float-left {
  float: left;
}
.navbar {
  background: $main-white !important;
  box-shadow: 0px 1px 10px $main-black;
}
.nav-item {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: $main-black;
    transition: color ease-out 0.3s;
    font-weight: 600;
    font-size: 18px !important;
  }
  .nav-link:hover {
    color: $main-white !important;
  }
}
.main {
  margin-top: 100px !important;
  margin-bottom: 50px !important;
}
.primary-footer {
  border-top: #cacaca 1.5px solid;
  padding: 20px;
  div div {
    padding: 20px;
  }
}
footer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.jumbotron {
  background-image: linear-gradient(180deg, $main-grey, $main-white);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  border-radius: 0 !important;
  padding: 2rem 1rem !important;
  z-index: 1;
}
.hidden {
  display: none !important;
}
.navbar-toggler {
  border: none;
  outline: none !important;
  span {
    color: $main-grey;
    transition: 0.3s all ease-out;
    font-size: 25px !important;
  }
}
.active-span {
  color: $main-black !important;
}

.back-to-top {
  position: fixed;
  opacity: 0.5;
  bottom: 30px;
  right: 30px;
  transition: 0.3s opacity ease-out;
  height: 50px;
  width: 50px;
  z-index: 999999999;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-black;
  cursor: pointer;
  i {
    font-size: 30px;
    text-align: center;
    color: $main-white;
  }
  &:hover {
    opacity: 1;
  }
}

//Menu icon
.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: $main-dark-grey;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 0px);
  transform: rotate(-45deg) translate(-5px, 0px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -5px);
  transform: rotate(45deg) translate(-8px, -5px);
}

//Social buttons

.social-media {
  font-size: 20px;
  a .fab {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background: $main-dark-grey;
    border-radius: 50%;
    color: $main-white;
    transition: background 0.3s ease-out;
    height: 50px;
    width: 50px;
  }
  a .fa-instagram:hover {
    background: #bc2a8d;
  }
  .fa-facebook-f:hover {
    background: #3b5998;
  }
  .fa-whatsapp:hover {
    background: #25d366;
  }
}
.created-by {
  opacity: 0.6;
  transition: opacity 0.3s ease-out;
}
.created-by:hover {
  opacity: 1;
}

//admin
.admin {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 20px $main-black;
    border-radius: 20px;
  }
}
.admin-nav-item {
  a {
    cursor: pointer;
    .fa-logout {
      margin-left: 20px;
    }
    width: 50px;
    text-align: center;
  }
}
form {
  .form-field {
    margin-top: 20px;
  }
}
.color-main-red {
  color: $main-red !important;
}
.welcome-page {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.padding-zero {
  padding: 0;
}
.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.657);
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    padding: 20px;
    background-color: $main-white;
    box-shadow: 50px 50px 100px $main-white, 50px -50px 100px $main-white,
      -50px 50px 100px $main-white, -50px -50px 100px $main-white;
    border-radius: 100px;
  }
}
.image-block {
  padding: 20px;
  transition: padding ease-out 0.3s;
}
.image-block:hover {
  padding: 10px;
}
.header-line::before {
  width: 100%;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  background: #cacaca;
  left: 0;
  top: 40%;
}
.header-line {
  display: flex;
  justify-content: center;
  h4 {
    z-index: 100;
    padding: 0px 20px;
    background-color: $main-white !important;
  }
}
.card{
  text-align: center;
}
.spec-card{
  i{
    font-size: 30px;
  }
  div{
    padding:0;
  }
  padding:30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  border-radius: 30px;
  color:white;
  transition: padding ease-out 0.3s;
  background-color: $main-dark-grey;
  text-align: center;
  &:hover{
    padding:30px;
  }
}