<div class="container col-md-8 offset-md-2" style="padding: 0;padding-top:100px">
    <div class="col-md-12 row" style="margin-bottom: 40px;">
        <a href="/products/sufre-desti" class="cateCard" style="background-color:#e25fd4;">
            Süfrə dəsti
        </a>
        <a href="/products/qasiq-cengel-bicaq-desti" class="cateCard" style="background-color:#1b4f19;">
            Qaşıq-Çəngəl-Bıçaq dəstləri
        </a>
        <a href="/products/bakal-qrafin-desti" class="cateCard" style="background-color:#9564ed;">
            Bakal-Qrafin dəstləri
        </a>
        <a href="/products/bosqab-altligi" class="cateCard" style="background-color:#0c5ad3;">
            Boşqab altlığı
        </a>
        <a href="/products/qazan-desti" class="cateCard" style="background-color:#6c4c06;">
            Qazan dəsti
        </a>
        <a href="/products/hediyyelik-qab" class="cateCard" style="background-color:#3c1538;">
            Hədiyyəlik qablar
        </a>
        <a href="/products/cilciraq" class="cateCard" style="background-color:#cb9408;">
            Çilçıraq
        </a>
        <a href="/products/elektrikli-alet" class="cateCard" style="background-color:#513792;">
            Elektrikli alət
        </a>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide1.jpeg">
            </div>
            <div class="carousel-item">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide2.jpeg">
            </div>
            <div class="carousel-item">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide3.jpeg">
            </div>
            <div class="carousel-item">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide4.jpeg">
            </div>
        </div>
    </div>
</div>