<div class="container col-md-8 offset-md-2" style="padding: 0;padding-top:100px">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide1.jpeg">
            </div>
            <div class="carousel-item">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide2.jpeg">
            </div>
            <div class="carousel-item">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide3.jpeg">
            </div>
            <div class="carousel-item">
                <img style="max-height:100vh" class="d-block w-100" src="/img/slide4.jpeg">
            </div>
        </div>
    </div>
</div>