<div class="desktop-card-carousel row" style="margin-top: 30px;">
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/sufre-desti')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Süfrə dəstləri</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/qasiq-cengel-bicaq-desti')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Qaşıq-Çəngəl-Bıçaq dəstləri</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/bakal-qrafin-desti')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Bakal-Qrafin dəstləri</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/bosqab-altligi')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Boşqab altlıqları</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/qazan-desti')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Qazan dəstləri</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/hediyyelik-qab')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Hədiyyəlik qablar</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/cilciraq')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Çilçıraqlar</h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 float-left">
        <div class="card" onclick="window.open('/products/elektrikli-alet')">
            <div class="image-block">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
            </div>
            <div class="card-body">
                <h6 class="card-title">Elektrikli alətlər</h6>
            </div>
        </div>
    </div>
</div>




<div id="categoriesCarousel" class="navbar-toggler carousel slide mobil-card-carousel" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
            <div class="card" onclick="window.open('/products/cilciraq')">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Çilçıraqlar</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/qazan-desti')">
                <img class="card-img-top img-fluid" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Qazan dəstləri</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/bosqab-altligi')">
                <img class="card-img-top img-fluid" width="800" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Boşqab altlıqları</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/hediyyelik-qab')">
                <img class="card-img-top img-fluid" width="800" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Hədiyyəlik qab</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/elektrikli-alet')">
                <img class="card-img-top img-fluid" width="800" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Elektrikli alətlər</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/qasiq-cengel-bicaq-desti')">
                <img class="card-img-top img-fluid" width="800" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Qaşıq-Çəngəl-Bıçaq dəstləri</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/bakal-qrafin-desti')">
                <img class="card-img-top img-fluid" width="800" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Bakal-Qrafin dəstləri</h4>
                </div>
            </div>
        </div>
        <div class="carousel-item col-md-4">
            <div class="card" onclick="window.open('/products/sufre-desti')">
                <img class="card-img-top img-fluid" width="800" src="http://placehold.it/800/" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Süfrə dəstləri</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#categoriesCarousel").on("slide.bs.carousel", function (e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $(".carousel-item").length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $(".carousel-item")
                            .eq(i)
                            .appendTo(".carousel-inner");
                    } else {
                        $(".carousel-item")
                            .eq(0)
                            .appendTo($(this).find(".carousel-inner"));
                    }
                }
            }
        });
    });

</script>