<div class="primary-footer">
    <div class="row text-center">
        <div class="col-md-4">
            <h5 style="font-size:x-large;margin-bottom:20px">Kateqoriyalar</h5>
            <p><a href="/products/cilciraq" style="font-size: medium;">Çilçıraq</a></p>
            <p><a href="/products/qazan-desti" style="font-size: medium;">Qazan dəsti</a></p>
            <p><a href="/products/bosqab-altligi" style="font-size: medium;">Boşqab altlığı</a></p>
            <p><a href="/products/hediyyelik-qab" style="font-size: medium;">Hədiyyəlik qablar</a></p>
            <p><a href="/products/elektrikli-alet" style="font-size: medium;">Elektrikli alət</a></p>
            <p><a href="/products/qasiq-cengel-bicaq-desti" style="font-size: medium;">Qaşıq-Çəngəl-Bıçaq dəstləri</a>
            </p>
            <p><a href="/products/bakal-qrafin-desti" style="font-size: medium;">Bakal-Qrafin dəstləri</a></p>
            <p><a href="/products/sufre-desti" style="font-size: medium;">Süfrə dəsti</a></p>
        </div>
        <div class="col-md-4">
            <h5 style="font-size:x-large;margin-bottom:20px">Müştəri xidmətləri</h5>
            <p><a href="" style="font-size: medium;">Əlaqə</a></p>
            <p><a href="" style="font-size: medium;">Ödəmə</a></p>
            <p><a href="" style="font-size: medium;">Çatdırılma</a></p>
            <p><a href="" style="font-size: medium;">Gizlilik və güvənlilik</a></p>
            <p><a href="" style="font-size: medium;">Sifarişləriniz necə qəbul olunur?</a></p>
            <p><a href="" style="font-size: medium;">Məhsul qarantisi</a></p>
        </div>
        <div class="col-md-4">
            <h5 style="font-size:x-large;margin-bottom:20px">Haqqımızda</h5>
            <p><a href="" style="font-size: medium;">Biz kimik?</a></p>
            <p><a href="" style="font-size: medium;">Mağazalarımız</a></p>
        </div>
    </div>
</div>
<footer class="container">
    <div class="row col-md-12">
        <div class="social-media container col-md-12 text-center">
            <a target="_blank" href="https://www.instagram.com/happyhome_official_page/"> <i
                    class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/HappyHomeAksaray/"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href=""><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="container col-md-6">
            <div class="col-md-12 float-left" style="margin-top: 15px;">
                <p style="opacity: 0.7;" class="text-center">©2020 Happy Home</p>
            </div>
        </div>
        <div class="container col-md-6">
            <div class="created-by col-md-12 float-left" style="margin-top: 15px;">
                <p class="text-center">Created by <a href="#">yunisdev</a></p>
            </div>
        </div>
    </div>
</footer>