<footer class="container">
    <div class="row col-md-12">
        <div class="social-media container col-md-12 text-center">
            <a target="_blank" href="https://www.instagram.com/happyhome_official_page/"> <i
                    class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/HappyHomeAksaray/"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href=""><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="container col-md-6">
            <div class="col-md-12 float-left" style="margin-top: 15px;">
                <p style="opacity: 0.7;" class="text-center">©2020 Happy Home</p>
            </div>
        </div>
        <div class="container col-md-6">
            <div class="created-by col-md-12 float-left" style="margin-top: 15px;">
                <p class="text-center">Created by <a href="#">yunisdev</a></p>
            </div>
        </div>
    </div>

</footer>