<div class="primary-footer">
    <div class="row text-center">
        <div class="col-md-4">
            <h5 style="font-size:x-large;margin-bottom:20px">Kateqoriyalar</h5>
            <p><a href="/products/sufre-desti" style="font-size: medium;">Süfrə dəsti</a></p>
            <p><a href="/products/qasiq-cengel-bicaq-desti" style="font-size: medium;">Qaşıq-Çəngəl-Bıçaq dəstləri</a>
            </p>
            <p><a href="/products/bakal-qrafin-desti" style="font-size: medium;">Bakal-Qrafin dəstləri</a></p>
            <p><a href="/products/bosqab-altligi" style="font-size: medium;">Boşqab altlığı</a></p>
            <p><a href="/products/qazan-desti" style="font-size: medium;">Qazan dəsti</a></p>
            <p><a href="/products/hediyyelik-qab" style="font-size: medium;">Hədiyyəlik qablar</a></p>
            <p><a href="/products/cilciraq" style="font-size: medium;">Çilçıraq</a></p>
            <p><a href="/products/elektrikli-alet" style="font-size: medium;">Elektrikli alət</a></p>
        </div>
        <div class="col-md-4">
            <h5 style="font-size:x-large;margin-bottom:20px">Müştəri xidmətləri</h5>
            <p><a href="/article/ödəmə" style="font-size: medium;">Ödəmə</a></p>
            <p><a href="/article/çatdırılma" style="font-size: medium;">Çatdırılma</a></p>
            <p><a href="/article/məhsul_zəmanəti" style="font-size: medium;">Məhsul zəmanəti</a></p>
            <p><a href="/article/sifarişləriniz_necə_qəbul_olunur" style="font-size: medium;">Sifarişləriniz necə qəbul
                    olunur?</a></p>
            <p><a href="/article/gizlilik_və_güvənlilik" style="font-size: medium;">Gizlilik və güvənlilik</a></p>
            <p><a href="/article/şikayət_və_təkliflər" style="font-size: medium;">Şikayət və təkliflər</a></p>
        </div>
        <div class="col-md-4">
            <h5 style="font-size:x-large;margin-bottom:20px">Haqqımızda</h5>
            <p><a href="/article/biz_kimik" style="font-size: medium;">Biz kimik</a></p>
            <p><a href="/contact#stores" style="font-size: medium;">Mağazalarımız</a></p>
            <p><a href="/contact" style="font-size: medium;">Əlaqə</a></p>
        </div>
    </div>
</div>
<div class="container col-md-12 text-center {{#if subscribed}}hidden{{/if}}">
    <h4 class="col-md-8 offset-md-2" style="font-size: x-large;">Yeniliklərdən və Endirimlərdən xəbərdar olmaq
        istəyirsinizsə , <b style="font-size: x-large;">Abunə Olun</b></h4>

    <form action="/subscribe" method="POST" class="col-md-8 offset-md-2" style="padding:50px">
        <input name="email" placeholder="E-poçt ünvanınız..." style="margin: 10px;"
            class="form-control col-md-8 float-left" type="email"><button style="margin:10px" type="submit"
            class="col-md-3 float-left btn btn-danger">ABUNƏ OL</button>
    </form>
</div>
<footer style="margin-top:50px" class="container">
    <div class="row col-md-12">
        <div class="social-media container col-md-12 text-center">
            <a target="_blank" href="https://www.instagram.com/happyhome_official_page/"> <i
                    class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/HappyHomeAksaray/"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href=""><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="container col-md-6">
            <div class="col-md-12 float-left" style="margin-top: 15px;">
                <p style="opacity: 0.7;" class="text-center">©2020 Happy Home</p>
            </div>
        </div>
        <div class="container col-md-6">
            <div class="created-by col-md-12 float-left" style="margin-top: 15px;">
                <p class="text-center">Created by <a href="#">yunisdev</a></p>
            </div>
        </div>
    </div>
</footer>

<script>
    const $dropdown = $(".dropdown");
    const $dropdownToggle = $(".dropdown-toggle");
    const $dropdownMenu = $(".dropdown-menu");
    const showClass = "show";

    $(window).on("load resize", function () {
        if (this.matchMedia("(min-width: 768px)").matches) {
            $dropdown.hover(
                function () {
                    const $this = $(this);
                    $this.addClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "true");
                    $this.find($dropdownMenu).addClass(showClass);
                },
                function () {
                    const $this = $(this);
                    $this.removeClass(showClass);
                    $this.find($dropdownToggle).attr("aria-expanded", "false");
                    $this.find($dropdownMenu).removeClass(showClass);
                }
            );
        } else {
            $dropdown.off("mouseenter mouseleave");
        }
    });
</script>