<button class="navbar-toggler" type="button">
    <div data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation" onclick="menuHamburger(this)" id="hamburger-x" class="container">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <script>
        let navbarIndexer = 0;
        function menuHamburger(x) {
            x.classList.toggle("change");
        }
    </script>
</button>