<div style="margin:100px 0px;" class="container col-md-12">
    <div class="row col-md-12">
        <h2 class="col-md-12 text-center">Sifarişlər</h2>
        <div class="container col-md-12">
            {{#each orders}}
            <div class="col-md-12 container" style="margin-top:10px" id="ordersContainer">
                <div class="col-md-12 row" style="padding:10px">
                    <div class="{{#if this.isDone}}done{{/if}} col-md-12 card text-left" style="padding-top: 10px;">
                        <div class="col-md-12" style="margin:0;padding:20px">
                            <p>
                                {{this.name}}
                                {{!-- View --}}
                                <span style="width:50px;float:right;margin-left:10px">
                                    <button class="btn btn-primary"><i class="far fa-eye"></i></button>
                                </span>
                                {{!-- Alright --}}
                                <span style="width:50px;float: right;">
                                    <button class="btn btn-success"><i class="fas fa-check"></i></button>
                                </span>
                            </p>
                            <p class="text-muted" style="margin-top:10px!important;padding-top:10px">
                                {{this.createdAt}}
                                {{!-- Delete --}}
                                <span style="width:50px;float:right;margin-left:10px">
                                    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </span>
                                {{!-- Comment --}}
                                <span style="width:50px;float: right;">
                                    <button class="btn btn-secondary"><i class="fas fa-comment"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>