<div class="container col-md-12 float-left" style="margin-top: 70px;">
    <div class="row">
        <form id="formAutoScroll" style="padding:10px" class="col-md-6 offset-md-3" action="/order" method="POST">
            <h2>Sifariş formu</h2>
            <div class="form-field" style="margin-top: 30px;">
                <label for="name" class="col-md-12" style="font-size:large;">Adınız, Soyadınız</label>
                <input required placeholder="Adınız, Soyadınız..." type="text" name="name" id="name"
                    class="form-control col-md-12">
            </div>
            <div class="form-field" style="margin-top: 30px;">
                <label for="email" class="col-md-12" style="font-size:large;">E-poçt adresiniz</label>
                <input required placeholder="E-poçt adresiniz..." type="email" name="email" id="email"
                    class="form-control col-md-12">
            </div>
            <div class="form-field" style="margin-top: 30px;">
                <label for="phoneNum" class="col-md-12" style="font-size:large;">Telefon nömrəniz</label>
                <input required placeholder="Telefon nömrəniz..." type="phone" name="phoneNum" id="phoneNum"
                    class="form-control col-md-12">
            </div>
            <div class="form-field" style="margin-top: 30px;">
                <label for="address" class="col-md-12" style="font-size:large;">Ünvanınız</label>
                <input placeholder="Ünvanınız (istəyə bağlı) ..." type="text" name="address" id="address"
                    class="form-control col-md-12">
            </div>
            <div class="form-field" style="margin-top: 30px;">
                <label for="notes" class="col-md-12" style="font-size:large;">Qeydləriniz</label>
                <textarea placeholder="Qeydləriniz (istəyə bağlı) ..." name="notes" id="notes"
                    class="form-control col-md-12"></textarea>
            </div>
            <div class="form-field" style="margin-top: 30px;">
                <button class="col-md-6 offset-md-3 btn btn-danger" style="font-size:x-large" type="submit">Sifariş
                    et</button>
            </div>
        </form>
    </div>

</div>
{{!-- name, phoneNum, email, address, notes --}}
<script src="/js/cleave.min.js"></script>
<script src="/js/cleave-phone.i18n.js"></script>
<script>
    var cleave = new Cleave('#phoneNum', {
        phone: true,
        phoneRegionCode: ''
    })
</script>