<div style="margin:100px 0px;" class="container col-md-12">
    <div class="row col-md-8 offset-md-2">
        <h2 class="col-md-12 text-center">Sifarişlər</h2>
        <div class="container col-md-12">
            {{#each orders}}
            <div class="col-md-12" style="margin-top:50px" id="ordersContainer">
                <div class="col-md-12" style="padding:20px">
                    <div class="col-md-12 card" style="padding-top: 10px;">
                        <div class="col-md-12 float-left">
                            <p>Sifariş ID: {{this._id}}</p>
                        </div>
                        <div class="col-md-12 float-left" style="margin-top:10px">
                            <p class="" style="font-size: x-large;">Sifarişlər</p>
                        </div>
                        {{#each this.orders}}
                        <div class="col-md-12" style="padding:20px;float:left">
                            <div class="card row"
                                style="padding:10px">
                                <div class="col-md-12 float-left">
                                    <img onclick="window.open('/product/{{this.itemID}}')" class="col-md-2" src="/data/pic/{{this.itemID}}">
                                </div>
                                <div class="col-md-12 float-left" style="padding-top:10px">
                                    <p class="text-muted">ID: {{this.itemID}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>