<a href="https://api.whatsapp.com/send?phone=+994774043000" target="_blank" style="text-decoration:none;position:fixed;top:30vh;right:0;z-index:9999;height:70px;width:70px;padding:20px;
    background-color:#25d366;display:flex;justify-content:center;align-items:center;cursor:pointer">
    <i class="fab fa-whatsapp" style="font-size: 40px;color:white"></i>
</a>