<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">
        <div style="margin-top:200px;margin-bottom:200px">
            <div class="col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    Səhifə tapılmadı
                </h4>
            </div>
        </div>
        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>