<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home | Əlaqə</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">

        <div class="header-line col-md-12">
            <h4 class="text-center" style="font-size:xx-large">
                Əlaqə
            </h4>
        </div>

        <div style="margin-top:50px;margin-bottom:100px" class="container col-md-12">
            <div class="row col-md-12 contact-form">
                <div class="contact-info col-md-6">
                    <h5 class="col-md-12 padding-zero" style="margin-bottom:20px;font-weight:bold">Əlaqə vasitələri</h5>
                </div>
                <form action="/contact-form" class="col-md-6" method="post">
                    <h5 class="col-md-12 padding-zero" style="margin-bottom:20px;font-weight:bold">Bizimlə əlaqə
                        saxlayın</h5>
                    <div class="form-group row col-md-12 padding-zero">
                        <label for="name" class="col-md-1 col-form-label"><i class="fas fa-user"></i></label>
                        <input type="text" class="col-md-10 form-control" name="name" id="name"
                            placeholder="Adınız, Soyadınız...">
                    </div>
                    <div class="form-group row col-md-12 padding-zero">
                        <label for="email" class="col-md-1 col-form-label"><i class="fas fa-envelope"></i></label>
                        <input type="email" class="col-md-10 form-control" name="email" id="email"
                            placeholder="E-poçtunuz...">
                    </div>
                    <div class="form-group row col-md-12 padding-zero">
                        <label for="phone" class="col-md-1 col-form-label"><i class="fas fa-phone"></i></label>
                        <input type="phone" class="col-md-10 form-control" name="phone" id="phone"
                            placeholder="Əlaqə nömrəsi...">
                    </div>
                    <div class="form-group row col-md-12 padding-zero">
                        <label for="head" class="col-md-1 col-form-label"><i class="fas fa-star"></i></label>
                        <input type="text" class="col-md-10 form-control" name="head" id="head" placeholder="Başlıq...">
                    </div>
                    <div class="form-group row col-md-12 padding-zero">
                        <label for="notes" class="col-md-1 col-form-label"><i class="fas fa-pen"></i></label>
                        <textarea class="col-md-10 form-control" name="notes" id="notes"
                            placeholder="Qeydləriniz..."></textarea>
                    </div>
                    <div class="form-group row col-md-12 padding-zero">
                        <button class="col-md-10 offset-md-1 btn btn-danger" style="font-size:large;padding:10px"
                            type="submit">Göndər</button>
                    </div>
                </form>
            </div>
            <h4 style="font-weight:bold;width:100%;text-align:center;margin-top:100px;">Mağazalarımız</h4>
            <div class="col-md-12 row stores">
                <div class="col-md-6">
                    <h5 class="col-md-12 padding-zero" style="font-weight:bold">Bakı mağazalarımız</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Ünvan: Sədərək T/M, Şirniyyat bazarı, Sıra: 16, Mağaza:
                        19/21</p><br>
                    <p><i class="fas fa-phone"></i> Telefon: (+994 70) 316 11 93</p><br>
                    <p><i class="fas fa-map-marker-alt"></i> Ünvan: Sədərək T/M, Şirniyyat bazarı, Sıra: 17, Mağaza: 4
                    </p><br>
                    <p><i class="fas fa-phone"></i> Telefon: (+994 70) 316 11 94</p><br>
                    <p><i class="fas fa-map-marker-alt"></i> Ünvan: Sədərək T/M, Şirniyyat bazarı, Sıra: 18, Mağaza:
                        29/31</p><br>
                    <p><i class="fas fa-phone"></i> Telefon: (+994 70) 316 11 92</p><br>
                    <p><i class="fas fa-map-marker-alt"></i> Ünvan: Sədərək T/M, Şirniyyat bazarı, Sıra: 18, Mağaza: 3
                    </p><br>
                    <p><i class="fas fa-phone"></i> Telefon: (+994 70) 316 11 95</p><br>
                </div>
                <div class="col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.7480314924737!2d49.77299916511559!3d40.32574929167922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307f1adf8c1cd3%3A0x3a773a101ecbc724!2sSederek+Ticaret+Merkezi!5e0!3m2!1str!2s!4v1446977593085"
                        width="100%" height="300px">
                    </iframe>
                </div>
            </div>
            <div class="col-md-12 row stores">
                <div class="col-md-6">
                    <h5 class="col-md-12 padding-zero" style="font-weight:bold">Gəncə mağazamız</h5>
                    <p><i class="fas fa-map-marker-alt"></i> Ünvan: Şah İsmayıl Xətai pr. Dos 102</p><br>
                    <p><i class="fas fa-phone"></i> Telefon: (+994 51) 722 06 04 , (+994 70) 722 06 04 , (+994 22) 256
                        02
                        68</p><br>
                </div>
                <div class="col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.445636268423!2d46.36175321540416!3d40.68618207933477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403f516dcde42993%3A0x3f93cb63775198fb!2zSGFwcHkgSG9tZSAtIE3JmXRiyZl4IMaPxZ95YWxhcsSxIE1hxJ9hemFzxLE!5e0!3m2!1str!2s!4v1447674055932"
                        width="100%" height="300px">
                    </iframe>
                </div>
            </div>

        </div>
        {{>footer}}
    </div>
    <script src="/js/cleave.min.js"></script>
    <script src="/js/cleave-phone.i18n.js"></script>
    <script>
        var cleave = new Cleave('#phone', {
            phone: true,
            phoneRegionCode: ''
        })
    </script>

    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>