<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    {{>carouselJumbotron}}
    <div class="container main">

        <div style="margin-top: 100px;" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    Həftənin ən çox satanları
                </h4>
            </div>
            {{>bestSellersOfWeek}}
        </div>
        <div style="margin-top: 100px;" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    Ən yenilər
                </h4>
            </div>
            {{>newProducts}}
        </div>
        <div style="margin-top: 100px;margin-bottom:100px" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    Sizin üçün seçtiklərimiz
                </h4>
            </div>
            {{>selectedForYou}}
        </div>


        {{!-- <div class="row">
            <div class="col-md float-left">
                <p class=""><strong style="font-style: italic;">Happy Home</strong>&nbsp;'la həyatınız daha da gözəlləşəcək.</p>

                <p>Yüksək keyfiyyətli təmiz farfordan hazırlanmış, geniş çeşiddə yemək və çay dəstləri, boşqablar həm
                süfrənizi bəzəyəcək, həm də sağlamlığınızın qayğısına qalacaq.</p>

                <p><strong style="font-style: italic;">Happy Home</strong>&nbsp;&nbsp;yemək və çay dəstləri, boşqabları yüksək hərarətə dözümlülüyü, parlaqlığı, solmayan rəng
                çalarları və uzunömürlülüyü ilə fərqlənir.</p>

                <p><strong style="font-style: italic;">Happy Home</strong>&nbsp;&nbsp;&mdash; süfrənizin bəzəyi.</p>
            </div>
        </div> --}}
        <div style="margin-top: 100px;margin-bottom:100px" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    Sosial şəbəkələrdə biz
                </h4>
            </div>
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div style="margin-top:30px;margin-left:auto;margin-right:auto"
                class="elfsight-app-fe8f0b39-04e4-4560-bd2d-bd7f28c23ff6"></div>
        </div>
        <div class="row">
            <div class="col-md spec-card" style="background:#da291e;">
                <div><i class="fad fa-store"></i>
                    <p> Online <b>mağaza</b></p>
                </div>
            </div>
            <div class="col-md spec-card" style="background: linear-gradient(200deg,#9B9A6A, #8E9E6E);">
                <div><i class="fad fa-money-bill-wave"></i>
                    <p> Nağd <b>ödəmə</b></p>
                </div>
            </div>
            <div class="col-md spec-card" style="background: linear-gradient(200deg,#830036,#B50738,#D02D43);">
                <div><i class="fad fa-credit-card"></i>
                    <p> Kartla <b>ödəmə</b></p>
                </div>
            </div>
            <div class="col-md spec-card" style="background: rgb(230, 92, 1);">
                <div><i class="fad fa-shipping-fast"></i>
                    <p><b>Çatdırılma</b></p>
                </div>
            </div>
            <div class="col-md spec-card" style="background: #77B5FE;">
                <div><i class="fad fa-fragile"></i>
                    <p> Qırıq parçalar üçün <b>dəyişdirilmə</b></p>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>