<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div style="margin-top:200px" class="main container">
        <div class="header-line col-md-12">
            <h4 class="text-center" style="font-size:xx-large">
                Sifariş qəbul olundu
            </h4>
        </div>
        <div class="col-md-12" style="margin-top:50px">
            <h4 class="text-center text-muted col-md-12" style="font-size:x-large">
                Sizinlə qısa müddətdə əlaqə saxlanacaq. Əgər hər hansı bir problem olsa aşağıdakı ID-ni qeyd etməklə
                bizimlə əlaqə saxlayın
            </h4>
            <h4 data-order-id="{{orderID}}" id="order-id" class="text-center col-md-12"
                style="font-size:x-large;margin-top:50px;margin-bottom:100px">
                {{orderID}}
                <div style="display:flex;justify-content:center" id="qrcode"></div>
            </h4>
        </div>


        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
    <script defer>
        const qrcode = new QRCode("qrcode")
        function makeCode() {
            var elText = document.getElementById("order-id").getAttribute('data-order-id');

            if (!elText) {
                return;
            }

            qrcode.makeCode(elText);
        }
        makeCode()
    </script>
</body>

</html>