<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home Admin</title>
    {{>libs}}

</head>

<body style="overflow-x: hidden;">
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <div class="container">
            <a class="collapse navbar-collapse navbar-brand float-left  ml-auto" href="/"><img src="/assets/logo2.png"
                    width="200px"></a>
            {{>navbarToggler}}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active admin-nav-item">
                        <a class="nav-link hvr-bounce-to-top" onclick="showAddForm()"><i class="fas fa-plus"></i></a>
                    </li>
                    <li class="nav-item active admin-nav-item">
                        <a class="nav-link hvr-bounce-to-top" onclick="showProducts()"><i
                                class="fad fa-box-alt"></i></a>
                    </li>
                    <li class="nav-item active admin-nav-item">
                        <a class="nav-link hvr-bounce-to-top" onclick="showOrders()"><i
                                class="fas fa-clipboard-list-check"></i></a>
                    </li>
                    <li class="nav-item active admin-nav-item">
                        <a class="nav-link hvr-bounce-to-top" onclick="openSettings()"><i class="fas fa-cog"></i></a>
                    </li>
                    <li class="nav-item active admin-nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="welcome-page">
        <h3 style="font-size:xx-large" class="display-3 col-md-12">
            Admin Panelinə Xoş Gəlmisiniz
            <small style="font-size:large" class="form-text text-muted">Zəhmət olmasa yuxarıdan bölmə seçin</small>
        </h3>
    </div>
    <div class="addProductForm">
        {{>addProductForm}}
    </div>
    <div class="orders">
        {{>orders}}
    </div>
    <div class="productList">
        {{>productList}}
    </div>
    <div class="loading-animation">
        <img src="/assets/loading.gif" alt="loading">
    </div>
    <script>
        var loadingAnimation = document.querySelector('.loading-animation')
        const welcome = $('.welcome-page')
        const addForm = $('.addProductForm')
        const orders = $('.orders')
        const products = $('.productList')
        const hideAll = () => {
            addForm.hide()
            orders.hide()
            products.hide()
            welcome.hide()
        }
        hideAll()
        welcome.show()
        const showAddForm = () => {
            hideAll()
            addForm.show()
        }
        const showOrders = () => {
            hideAll()
            orders.show()
        }
        const showProducts = () => {
            hideAll()
            products.show()
        }
        const openSettings = () => {
            loadingAnimation.style.display = 'flex'
            fetch('/data/index')
                .then((res) => {
                    if (res.ok) {
                        res.json().then((data) => {
                            loadingAnimation.style.display = 'none'
                            Swal.fire({
                                html: `
                                <form method="POST" style="padding:20px" action="/data/index">
                                <div class="padding-zero col-md-12 form-field">
                                <label for="name">Karusel:</label><br>
                                <input value="${data.carousel.slide1}" required class="form-control" placeholder="Slide1..." type="text"
                                id="slide1" name="slide1">
                                </div>
                                <div class="padding-zero col-md-12 form-field">
                                <input value="${data.carousel.slide2}" required class="form-control" placeholder="Slide2..." type="text"
                                id="slide2" name="slide2">
                                </div>
                                <div class="padding-zero col-md-12 form-field">
                                <input value="${data.carousel.slide3}" required class="form-control" placeholder="Slide3..." type="text"
                                id="slide3" name="slide3">
                                </div>
                                <div class="padding-zero col-md-12 form-field">
                                <input value="${data.carousel.slide4}" required class="form-control" placeholder="Slide4..." type="text"
                                id="slide4" name="slide4">
                                </div>
                                <div class="padding-zero col-md-12 form-field">
                                <label for="name">Həftənin ən çox satanları:</label><br>
                                <input value="${data.bestSellersOfWeek}" required class="form-control" placeholder="" type="text"
                                id="bestSellersOfWeek" name="bestSellersOfWeek">
                                </div>
                                <div class="padding-zero col-md-12 form-field">
                                <label for="name">Ən yenilər:</label><br>
                                <input value="${data.newProducts}" required class="form-control" placeholder="" type="text"
                                id="newProducts" name="newProducts">
                                </div>
                                <div class="padding-zero col-md-12 form-field">
                                <label for="name">Sizin üçün seçtiklərimiz:</label><br>
                                <input value="${data.selectedForYou}" required class="form-control" placeholder="" type="text"
                                id="selectedForYou" name="selectedForYou">
                                </div>
                                <div class="col-md-12 form-field">
                                <button type="submit" class="btn btn-primary">Saxla</button>
                                </div>
                                </form>
                                `,
                                showConfirmButton: false,
                                showCancelButton: false,
                                showCloseButton: true,
                            })
                        })
                    }

                })
        }
    </script>
    
</body>

</html>