<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <div class="container">

            {{>navbarToggler}}
            <a class="collapse navbar-collapse navbar-brand float-left  ml-auto" href="/"><img src="/assets/logo2.png"
                    width="150px"></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/">Ana səhifə</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/places">Mağazalar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link hvr-bounce-to-top" href="/products">Məhsullar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/contact">Əlaqə</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav float-left ml-auto">
                    <li class="nav-item">
                        <a style="width:50px" class="nav-link hvr-bounce-to-top" href="/basket"><i
                                class="fas fa-shopping-basket"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="main container">
        <div style="margin-top: 100px;margin-bottom:100px" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    {{category}}
                </h4>
            </div>
            <div class="row col-md-12">
                {{#each products}}
                <div class="col-md-3 float-left">
                    <div class="card">
                        <div class="image-block">
                            <img class="card-img-top img-fluid" src="/data/pic/{{this._id}}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{this.name}}</h4>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>