<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/assets/logo2.png" width="200px"></a>
            {{>navbarToggler}}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/">Ana səhifə</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/places">Mağazalar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link hvr-bounce-to-top" href="/products">Məhsullar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link hvr-bounce-to-top" href="/contact">Əlaqə</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    {{>jumbotron}}
    <div class="container">
        
    </div>
    {{>footer}}
    
    
    {{>backToTop}}
</body>

</html>