<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">

        <div class="header-line col-md-12">
            <h4 class="text-center" style="font-size:xx-large">
                Abunə ol
            </h4>
        </div>
        <div style="margin-top:50px;margin-bottom:100px" class="container col-md-12 text-center {{#if subscribed}}hidden{{/if}}">
            <h4 class="col-md-8 offset-md-2" style="font-size: x-large;">Yeniliklərdən və Endirimlərdən xəbərdar
                olmaq
                istəyirsinizsə , <b style="font-size: x-large;">Abunə Olun</b></h4>

            <form action="/subscribe" method="POST" class="col-md-8 offset-md-2" style="padding:50px">
                <input name="email" placeholder="E-poçt adresiniz..." style="margin: 10px;"
                    class="form-control col-md-8 float-left" type="email"><button style="margin:10px" type="submit"
                    class="col-md-3 float-left btn btn-danger">ABUNƏ OL</button>
            </form>
        </div>

        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>