@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none !important; }

body {
  background-color: #fdfeff; }

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background: #e6e6e6;
  border-radius: 5px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border-radius: 5px; }

.hvr-bounce-to-top::before {
  border-radius: 10px;
  background: #da291e; }

.float-left {
  float: left; }

.hidden {
  display: none !important; }

.main {
  margin-top: 100px !important;
  margin-bottom: 50px !important; }

.jumbotron {
  background-image: linear-gradient(180deg, #cecece, #fdfeff);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  border-radius: 0 !important;
  padding: 2rem 1rem !important;
  z-index: 1; }

.color-main-red {
  color: #da291e !important; }

.main-red {
  background-color: #da291e !important; }

.hover-opacity {
  opacity: 0.5;
  transition: opacity ease-out 0.3s; }
  .hover-opacity:hover {
    opacity: 1; }

.padding-zero {
  padding: 0; }

.image-block {
  padding: 20px;
  transition: padding ease-out 0.3s; }

.image-block:hover {
  padding: 10px; }

.header-line::before {
  width: 100%;
  height: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  background: #cacaca;
  left: 0;
  top: 40%; }

.header-line {
  display: flex;
  justify-content: center; }
  .header-line h4 {
    z-index: 100;
    padding: 0px 20px;
    background-color: #fdfeff !important; }

.card {
  text-align: center; }

.card {
  cursor: pointer; }

#categoriesDropdown {
  margin-top: 40px;
  display: flex;
  position: fixed;
  left: 0;
  justify-content: center; }

a[href="https://elfsight.com/instagram-feed-instashow/?utm_source=websites&utm_medium=clients&utm_content=instagram-feed&utm_term=localhost:3000&utm_campaign=free-widget"] {
  opacity: 0 !important; }

.done::before {
  opacity: 0.6;
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  background-color: green;
  z-index: 0; }

.sold-out-card::before {
  position: absolute;
  content: "Məhsul bitib";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 50px;
  background-color: #cecece96;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; }

.tag {
  width: 200px;
  display: block;
  font-size: 20px;
  text-align: center;
  background-color: #cecece;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 50px; }

.stores {
  border: 1px solid #cecece;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px; }
  .stores div {
    padding: 20px; }
  .stores :nth-child(1) h5 {
    margin-bottom: 20px; }
  .stores :nth-child(1) p {
    font-size: 13px;
    margin: 0; }
  .stores :nth-child(2) {
    padding: 0; }
    .stores :nth-child(2) iframe {
      border: none !important;
      border-radius: 20px; }

.contact-form {
  border: 1px solid #cecece;
  padding: 30px;
  margin-top: 20px;
  border-radius: 20px; }
  .contact-form h5 {
    padding: 10px; }
  .contact-form form div {
    padding: 10px; }
    .contact-form form div * {
      padding: 0; }
    .contact-form form div label {
      padding: 10px; }
    .contact-form form div input,
    .contact-form form div textarea {
      padding: 10px; }

.contact-info h5 {
  padding: 10px; }
