@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none; }

body {
  background-color: #fdfeff; }

.hvr-bounce-to-top::before {
  border-radius: 10px;
  background: #da291e; }

.float-left {
  float: left; }

.navbar {
  background: #fdfeff !important;
  box-shadow: 0px 1px 10px #272727; }

.nav-item {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px; }
  .nav-item .nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: #272727;
    transition: color ease-out 0.3s;
    font-weight: 600;
    font-size: 18px !important; }
  .nav-item .nav-link:hover {
    color: #fdfeff !important; }

.main {
  margin-top: 50px !important;
  margin-bottom: 50px !important; }

footer {
  background-color: transparent;
  border-top: 2px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }

.jumbotron {
  background-image: linear-gradient(180deg, #cecece, #fdfeff);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  border-radius: 0 !important;
  padding: 2rem 1rem !important;
  z-index: 1; }

.hidden {
  display: none !important; }

.navbar-toggler {
  border: none;
  outline: none !important; }
  .navbar-toggler span {
    color: #cecece;
    transition: 0.3s all ease-out;
    font-size: 25px !important; }

.active-span {
  color: #272727 !important; }

.back-to-top {
  position: fixed;
  opacity: 0.5;
  bottom: 30px;
  right: 30px;
  transition: 0.3s opacity ease-out;
  cursor: pointer; }
  .back-to-top i {
    font-size: 30px; }
  .back-to-top:hover {
    opacity: 1; }

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #a5a5a5;
  margin: 3px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 0px);
  transform: rotate(-45deg) translate(-5px, 0px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -5px);
  transform: rotate(45deg) translate(-8px, -5px); }

.social-media {
  font-size: 20px; }
  .social-media a .fab {
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    background: #a5a5a5;
    border-radius: 50%;
    color: #fdfeff;
    transition: background 0.3s ease-out;
    height: 50px;
    width: 50px; }
  .social-media a .fa-instagram:hover {
    background: #bc2a8d; }
  .social-media .fa-facebook-f:hover {
    background: #3b5998; }
  .social-media .fa-whatsapp:hover {
    background: #25d366; }

.created-by {
  opacity: 0.6;
  transition: opacity 0.3s ease-out; }

.created-by:hover {
  opacity: 1; }

.admin {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .admin .form {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 20px #272727;
    border-radius: 20px; }

.admin-nav-item a {
  cursor: pointer;
  width: 50px;
  text-align: center; }
  .admin-nav-item a .fa-logout {
    margin-left: 20px; }

form .form-field {
  margin-top: 20px; }

.color-main-red {
  color: #da291e !important; }

.welcome-page {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center; }

.padding-zero {
  padding: 0; }

.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.657);
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading-animation h1 {
    padding: 20px;
    background-color: #fdfeff;
    box-shadow: 50px 50px 100px #fdfeff, 50px -50px 100px #fdfeff, -50px 50px 100px #fdfeff, -50px -50px 100px #fdfeff;
    border-radius: 100px; }

.item-card {
  padding: 20px; }
  .item-card .item-card-inside {
    border: 2px solid #cecece;
    padding: 10px; }
    .item-card .item-card-inside .image-block {
      padding: 20px;
      transition: padding ease-out 0.3s; }
    .item-card .item-card-inside .image-block:hover {
      padding: 10px; }
