<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">

        <div class="header-line col-md-12">
            <h4 class="text-center" style="font-size:xx-large">
                Biz Kimik
            </h4>
        </div>
        <div style="margin-top:50px;margin-bottom:100px" class="container col-md-12">
            <p style="font-size: 18px;">
                Happy Home mağazalar şəbəkəsi olaraq uzun illərdir xidmətinizdəyik.
                Xidmətdə olduğumuz müddətdə yüksək keyfiyyət və yeni çeşidlərimizi
                sizlərə təqdim etməkdən qürur duyuruq. Biz cehizlik aləmi olaraq
                topdan və pərakəndə satış ilə məşğul oluruq.<br><br>
                <strong style="font-size:22px;">Hansı məhsulları sizlərə təqdim edirik?</strong><br>
                Çilçıraq, servis və boşqablar, bakal-qrafin dəstləri və bakallar, çay
                dəstləri, mətbəx əşyaları, elektrikli alətlər, qaşıq-çəngəl-bıçaq dəstləri,
                müxtəlif növ hədiyyəlik əşyaları sizlərə təqdim etməkdən qürur
                duyuruq.<br>
                <strong>&quot;Happy Home&quot;</strong>la həyatınız daha da gözəlləşəcək. Yüksək keyfiyyətli təmiz farfordan hazırlanmış,
                geniş çeşiddə yemək və çay dəstləri, boşqablar həm süfrənizi bəzəyəcək, həm də sağlamlığınızın qayğısına
                qalacaq.<br>
                <strong>&quot;Happy Home&quot;</strong> yemək və çay dəstləri, boşqabları yüksək hərarətə dözümlülüyü, parlaqlığı,
                solmayan rəng çalarları və uzunömürlülüyü ilə fərqlənir.<br>
                <strong>&quot;Happy Home&quot;</strong> - süfrənizin bəzəyi.<br>
            </p>
        </div>
        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>