<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">

        <div class="header-line col-md-12">
            <h4 class="text-center" style="font-size:xx-large">
                Məhsul zəmanəti
            </h4>
        </div>
        <div style="margin-top:50px;margin-bottom:100px"
            class="container col-md-12">
            <p>
                Şifariş qəbul olunduqdan, evə çatdırılana qədər məhsulun bütün məsuliyyəti bizdədir.<br>
                3 gün - 1 həftə (dəyişdirmə müddəti məhsula görə dəyişir) ərzində məhsulda sınıq və ya keyfiyyət problemi aşkar etdikdə məhsulu dəyişə bilərsiniz.<br>
                Gigiyenik qaydalara görə məhsullar geri qaytarılmır.
            </p>
        </div>
        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>