<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">

        <div class="header-line col-md-12">
            <h4 class="text-center" style="font-size:xx-large">
                Çatdırılma
            </h4>
        </div>
        <div style="margin-top:50px;margin-bottom:100px"
            class="container col-md-12">
            <p>
                Bakı, Gəncə və ətraf rayonlara çatdırılma var.<br>
                Sifarişi verdiyin andan 3 gün ərzində məhsulunuz çatdırılır.<br>
                Məhsul çatdırıldıqda istəyinizə bağlı olaraq sifarişin tam olduğunu sizin yanınızda yoxlayırıq.<br>
                Məhsulu 3 gün - 1 həftə ərzində dəyişə bilərsiniz.(bax: <a href="/article/məhsul_zəmanəti" style="font-size: medium;">Məhsul zəmanəti</a>)
            </p>
        </div>
        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>